body{
    position: relative;
}
.title{
    width: 100%;
    font-size: 4em;
    font-weight: 500;
    text-align: center;
}
.description{
    width: 100%;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}
.gallery{
    margin: 20px;
    border-radius: 5px;
    padding: 25px;
    background: rgba(0, 0, 0, 0.021);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a.alex-box :focus{
    outline: 0;
}

a.alex-box {
    text-decoration: none;
}

.gallery .alex-box img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.884);
}
.modal > .x::before{
    content: "ð—‘";
}
.modal > .x{
    position: absolute;
    text-align: center;
    font-size: 2.5em;
    color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 10px;
    right: 10px;
}
.modal > .foto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.089);
}