a.alex-box :focus{
    outline: 0;
}

a.alex-box {
    text-decoration: none;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.884);
}
.modal > .x::before{
    content: "ð—‘";
}
.modal > .x{
    position: absolute;
    text-align: center;
    font-size: 2.5em;
    color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 10px;
    right: 10px;
}
.modal > .foto,
.modal > .video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.089);
    z-index: 10;
}
@keyframes left{
    0%{
        left: 50%;
    }
    100%{
        left: -50%;
        opacity: .6;
    }
}

.swipeLeft{
    animation: left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    left: -50%;
}

@keyframes right{
    0%{
        left: 50%;
    }
    100%{
        left: 150%;
        opacity: .6;
    }
}

.swipeRight{
    animation: right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    left: 150%;
}